/*LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
   START THE NAVBAR SECTION RESPONSIV
 LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL */

@media only screen and (max-width: 600px) {
  .btn-rounded {
    display: none;
  }
}
/*LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
      START SECTION 4- THE SERVICES
LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL*/

@media (min-width: 1280px) {
  .services__content {
    margin-top: 5rem;
  }
  .icon {
    font-size: 2.5rem;
  }
  .display-3--title {
    font-size: 1.8rem;
  }
  .services__content p {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 7670px) {
  /* For mobile phones: */
  .pading-1 {
    padding-top: 6rem;
  }
}
